[IDEP]
chain_id = SanfordNetwork
wallet_name = sanford
wallet_key = <wallet public key>
validator_key = <validator public key>

[Telegram]
telegram_token = <telegram bot token>
telegram_chat_id = <telegram chat it>
