[IDEP]
chain_id = haqq_54211-3
wallet_name = KUGATA
wallet_address = haqq1vd8psrw28trr7nl36fjff2vq6wryjp6xx53690
validator_address = haqqvaloper1vd8psrw28trr7nl36fjff2vq6wryjp6x2ka5pw
reserve = 10
password = aeonzim1985
sleep_time = 600

[Telegram]
telegram_token = <telegram bot token>
telegram_chat_id = <telegram chat id>
